@use "variaveis";
@use "about";
@use "header";
@use "animes";
@use "footer";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');

@mixin text ($fontSize: 16px) {
    font-size: $fontSize;
    line-height: calc($fontSize + 10px);
}
@mixin title ($fontSize: 40px) {
    @include text($fontSize);
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}
.text {
    @include text;
    
    @media (max-width: 768px) {
        @include text(14px);
    }
}
.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}
.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}
.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}






* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: variaveis.$corTexto;
    font-family: 'Tilt Neon', cursive;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

body {
    background: linear-gradient(
        90deg,
        rgba(variaveis.$corFundo1, 1) 0%,
        rgba(variaveis.$corFundo1, .9) 50%,
        rgba(variaveis.$corFundo1, 1) 100%,
    );
}

.topup {
    border: 3px solid rgba(variaveis.$corTexto, .4);
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 45px;
    height: 50px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all ease .5s;

    svg {
        width: 100%;
        height: 100%;
        margin-left: 7px;
        fill: rgba(variaveis.$corTexto, .4);
    }

    &:hover {
        border: 2px solid rgba(variaveis.$corTexto, 1);
        svg {
            fill: rgba(variaveis.$corTexto, 1);
        }
    }

    &--is-show {
        visibility: visible;
        opacity: 1;
    }
}